.service-sections {
    padding: 6rem 10%;
}


.service-section-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    align-items: center;
    margin-bottom: 50px;
    /* background: linear-gradient(90deg, rgb(162, 162, 162), transparent); */
}


.service-section-img img {
    width: 100%;
    float: left;
}


.service-section-content p {
    font-size: 20px;
    line-height: 35px;
}


@media (max-width: 950px) {
    .service-section-container {
        display: flex;
        flex-direction: column;
    }
}